<form class="mt-4" name="container-form" method="post" action="/courses/handle-form-action">
  <div>
    <h3>Khóa học của tôi</h3>
    <a href="/me/trash/courses">Thùng rác ({{deletedCount}})</a>

    <div class="mt-4 d-flex align-items-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkbox-all" />
        <label class="form-check-label" for="checkbox-all">
          Chọn tất cả
        </label>
      </div>

      <select class="form-select form-select-sm checkbox-select-all-options" name="action" required>
        <option value="">-- Hành động --</option>
        <option value="delete">Xóa</option>
      </select>

      <button class="btn btn-primary btn-sm disabled btn-submit">Thực hiện</button>
    </div>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">
          Tên khóa học
          {{{sortable 'name' _sort}}}
        </th>
        <th scope="col">
          Trình độ
          {{{sortable 'level' _sort}}}
        </th>
        <th scope="col" colspan="2">
          Thời gian tạo
          {{{sortable 'createdAt' _sort}}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <td>
            <div class="form-check">
              <input
                class="form-check-input item-checkbox"
                type="checkbox"
                value="{{this._id}}"
                name="courseIds[]"
              />
            </div>
          </td>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
            <a
              href=""
              class="btn btn-link"
              data-bs-toggle="modal"
              data-bs-target="#delete-course-modal"
              data-bs-id="{{this._id}}"
            >Xóa</a>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="5" class="text-center">Bạn chưa đăng khóa học nào.
            <a href="/courses/create">Đăng khóa học</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</form>

{{! Confirm delete course }}
<div
  id="delete-course-modal"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa khóa học?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn chắc chắn muốn xóa khóa học này?
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{! Delete hidden form }}
<form class="mt-4" method="post" name="delete-course-form"></form>

<script>
  let courseId;
  let deleteForm = document.forms['delete-course-form'];
  let containerForm = document.forms['container-form'];
  let deleteModal = document.getElementById('delete-course-modal');
  let btnDeleteCourse = document.getElementById('btn-delete-course');
  let checkboxAll = document.getElementById('checkbox-all');
  let courseItemCheckbox = document.querySelectorAll('.item-checkbox');
  let btnSubmit = document.querySelector('.btn-submit');
  let optionAction = document.querySelector('.checkbox-select-all-options');
  let i= 0;
  let optionValue = '';
  
  // when dialog confirm is clicked 
  deleteModal.addEventListener('show.bs.modal', event => {
    let button = event.relatedTarget;
    courseId = button.getAttribute('data-bs-id')
  });
  
  // when delete course btn is clicked
  btnDeleteCourse.onclick = function() {
    deleteForm.action = '/courses/' + courseId + '?_method=delete'; deleteForm.submit();
  }

  // when chekbox all is changed
  checkboxAll.onchange = function() {
    let isCheckedAll = checkboxAll.checked;
    isCheckedAll ? i = courseItemCheckbox.length : i = 0;
    hiddenSubmitButton(i);
    courseItemCheckbox.forEach(item => {
      item.checked = isCheckedAll;
    })
  }

  //when item checkbox is changed
  courseItemCheckbox.forEach(item => {
    item.onchange = function() {
      item.checked ? i++ : i--;
      checkboxAll.checked = i === courseItemCheckbox.length;
      hiddenSubmitButton(i);
    }
  })

  // choose value for action submit
  optionAction.onchange = function() {
    optionValue = optionAction.value;
    hiddenSubmitButton(i)
  }

  // add or remove attribute disabed
  function hiddenSubmitButton(i) {
    optionValue && i > 0 ?  btnSubmit.classList.remove('disabled') : btnSubmit.classList.add('disabled'); 
  }

  //submit btn is clicked
  btnSubmit.onclick = function (event) {
    event.preventDefault();
    let isSubmittable = !btnSubmit.classList.contains('disabled')
    isSubmittable && containerForm.submit()
  }
</script>