<div class="mt-4">
  <div>
    <a href="/me/stored/courses">Danh sách khóa học</a>
    <h3>Khóa học đã xóa</h3>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên khóa học</th>
        <th scope="col">Trình độ</th>
        <th scope="col" colspan="2">Thời gian xóa</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.deletedAt}}</td>
          <td>
            <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
            <a
              href=""
              class="btn btn-link"
              data-bs-toggle="modal"
              data-bs-target="#delete-course-modal"
              data-bs-id="{{this._id}}"
            >Xóa vĩnh viễn</a>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="5" class="text-center">Thùng rác trống.</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{! Confirm delete course }}
<div
  id="delete-course-modal"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa khóa học?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Hành động này không thể khôi phục. Bạn vẫn xóa khóa học này?
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa vĩnh viễn</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<form class="mt-4" method="post" name="delete-course-form"></form>
<form class="mt-4" method="post" name="restore-course-form"></form>

<script>
  let courseId;
  let deleteForm = document.forms['delete-course-form'];
  let restoreForm = document.forms['restore-course-form'];
  let deleteModal = document.getElementById('delete-course-modal');
  let btnDeleteCourse = document.getElementById('btn-delete-course');
  let restoreBtn = document.querySelectorAll('.btn-restore');
  
  //when dialog confirm is clicked
  deleteModal.addEventListener('show.bs.modal', event => {
    let button = event.relatedTarget;
    courseId = button.getAttribute('data-bs-id');

  }); //when delete course btn is clicked
  btnDeleteCourse.onclick = function() {
    deleteForm.action = '/courses/' + courseId + '/force?_method=delete';
    deleteForm.submit();
    }
    
  //when restore course btn is clicked
  restoreBtn.forEach(item => { item.addEventListener('click', event => {
    event.preventDefault();
    let idCourse = item.dataset.id;
    restoreForm.action = '/courses/' + idCourse + '/restore?_method=patch'; restoreForm.submit();
    })
  })
</script>